[Unit]
Description=Alertmanager Version  {{ alertmanager_version }}
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ alertmanager_user }}
Group={{ alertmanager_user }}
WorkingDirectory=/etc/alertmanager/
ExecStart=/usr/local/bin/alertmanager --storage.path={{ alertmanager_dir_data }} --config.file={{ alertmanager_dir_config }}/alertmanager.yml --web.external-url http://0.0.0.0:9093

[Install]
WantedBy=multi-user.target
