[Unit]
Description=VictoriaAlert service Version {{ vmtools_vmagent_version }}
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/vmalert-prod \
      -datasource.url=http://{{ vmtools_vmalert_remote }}:8428/ \
      -remoteRead.url=http://{{ vmtools_vmalert_remote }}:8428/ \
      -remoteWrite.url=http://{{ vmtools_vmalert_remote }}:8428/ \
      -notifier.url=http://127.0.0.1:9093 \
      -rule=/etc/vmalert/*.yml \
      -external.url=http://{{ vmtools_vmalert_grafana }}:3000

SyslogIdentifier=vmalert
Restart=always

[Install]
WantedBy=multi-user.target
