{
  "services": [{
    "name": "{{ item.name }}"{% if item.port is defined %},
    "port": {{ item.port }}{% endif %}{% if item.tags is defined %},
    "tags": ["{{ item.tags | join('\",\"') }}"]
    {% endif %}{% if item.check_target is defined %},
    "checks": [{
      "id": "{{ item.name }}",
      "{{ item.type }}": "{{ item.check_target }}",
      "interval": "{{ item.interval }}"
    }]
    {% endif %}
  }]
}
