- name: Create ext4 File System
  community.general.filesystem:
    fstype: ext4
    dev: "{{ item.disk }}"

- name: Create group {{ item.owner }}
  ansible.builtin.group:
    name: "{{ item.owner }}"
    system: true
    state: present
  when: item.owner is defined

- name: Create user {{ item.owner }}
  ansible.builtin.user:
    name: "{{ item.owner }}"
    system: true
    shell: /sbin/nologin
    state: present
  when: item.owner is defined


- name: Ensure directory exists
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: directory
    owner: "{{ item.owner | default('root') }}"
    group: "{{ item.owner | default('root') }}"
    mode: "0750"

- name: Check if the path already exists in fstab
  ansible.builtin.lineinfile:
    name: /etc/fstab
    line: "{{ item.path }}"
    state: present
  check_mode: true
  register: __volumes_result_path
  changed_when: false

- name: Dispaly uuid & store in variable
  ansible.builtin.command: blkid -s UUID -o value {{ item.disk }}
  register: __volumes_uuid_disk
  changed_when: false

- name: Mount File System
  ansible.posix.mount:
    path: "{{ item.path }}"
    src: "UUID={{ __volumes_uuid_disk.stdout }}"
    fstype: ext4
    opts: rw,nofail,noatime,auto
    state: mounted
